#Ignore:
#Build system's dependencies
.deps/

#Object files
.objs/

#Binary output
bin/

#Libraries
lib/

#All created .so files
*.so

#Documentation output
docs/

#Link to binary output in src
src/nuci

#Link to documentation output in build
build/buildsystem.html

# Created by the binary at run time.
src/datastore.xml

# Random "service" files
core
tags
