#Ignore:
#Build system's dependencies
.deps/

#Object files
.objs/

#Binary output
bin/

#Libraries
lib/
/lua_lib/
/lua_plugins/

#All created .so files
*.so
*.o
*.luac

#Documentation output
docs/

#Link to binary output in src
src/nuci
tests/test_runner
tools/test_gui/test_gui

#Link to documentation output in build
build/buildsystem.html
src/*.html

# Created by the binary at run time.
src/datastore.xml

# Random "service" files
core
tags

tools/test_gui/Makefile
moc_*.cpp
ui_*.h

tests/xmlnorm/xmlnorm
tests/xmlnorm/Makefile
